<div class="dropzone dropzone-default dz-clickable d-flex flex-row" data-controller="image_uploader"
  data-image_uploader-max-file-size="15" data-image_uploader-max-files="10" date-image_uploader-accepted_files=".jpg, .jpeg, .png, .gif">
  <%= form.file_field :images, multiple: true, accept:'image/*', class: 'form-control', direct_upload: true, data: { target: 'image_uploader.input' } %>

  <div class="dropzone-msg dz-message needsclick text-muted p-5 w-100">
    <div class="dropzone-msg-title fs-4 text-center">
      <div class="mb-3"><i class="fas fa-images fs-1"></i></div>

      <div class="text-dark"><%= I18n.t('forms.drag_and_drop_text') %></div>
    </div>
  </div>
</div>

<!-- Show existing files -->

<script>
  var jsonMedia = [
    <% @object.images.each do |image| %>
      <% path = url_for(image.variant(resize_to_fit: [200, 200])) %>
        {"name":"<%= path %>", "type":"image/jpg", "size":"123", id: "<%= image.signed_id %>"},
    <% end %>
  ];
</script>
