<%= link_to room_path(room, locale: @page_lang) do %>
  <div class="col-12 col-md-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">

      <div class="card-body">
        <h5 class="card-title"><%= room.title %></h5>
        <p class="card-text"><%= room.location %></p>
      </div>
    </div>
  </div>
<% end %>
