// Colors

$red:         #AF1B3F;
$main-green:  #095550;
$green:       #069E2D;
$orange:      #fc5804;
$blue:        #92DCE5;

$white:     #fff;
$light:     #f8f8fa;
$grey:      #8a9089;
$dark:      #333333;
$black:     #1a1a1a;


$primary:   $main-green;
$secondary: $orange;
$danger:    $red;
$success:   $green;

// Buttons

$btn-padding-y-lg: 1rem;
$btn-padding-x-lg: 1rem;
$btn-border-width: 0;
$btn-border-radius: 0.2rem;

// Form

$input-border-width: 0;
$input-border-radius-sm: 0.5rem;
$input-border-radius-lg: 0.5rem;
$input-focus-bg: $white;
$input-disabled-bg: $white;
$input-bg: $light;